:root{
    --header-color: #757575;
    --main-title-color: #212121;
    --second-header-color: #2196F3;
    --local-color: #FFFFFF;
   

}
body {
    color: var(--header-color);
    background-color: #E5E5E5;
}
span {
    color: var(--main-title-color);
}
ul {
        list-style: none;
    };
.link {
    text-decoration: none;
}
h1 {
    color: var(--local-color);
}
h2,h3 {
    color: var(--main-title-color);
}
/*-------------HEADER-------------*/
header {
    background-color: var(--local-white-color)
}
/*-------------HEADER-LOGO-------------*/
.header-logo,
.footer-logo {
        color: var(--second-header-color);
}
.header span {
    color: var(--main-title-color);
}
/*-------------HEADER-NAV-------------*/
.header-nav a {
    color: var(--main-title-color);
}
.header-nav a:hover,
.header-nav a:focus {
    color: var(--second-header-color);
}
.nav-link.current {
    color: var(--second-header-color);
}


/*------------HEADER-CONTACTS------------*/
.header-mail {
    color: var(--main-title-color);
}
.header-mail:hover,
.header-mail:focus {
    color: var(--second-header-color);
}
.header-tel {
    color: var(--header-color);
}
.header-tel:hover,
.header-tel:focus {
    color: var(--second-header-color);
}
/*-------------MAIN-TITLE-------------*/
.title {
    background-color: #2F303A;
}
.title-btn {
    color: var(--local-color);
}
.title-btn:hover,
.title-btn:focus {
    color: var(--second-header-color);
}
.title-btn {
    background-color: var(--second-header-color);
}

/*-------------PORTFOLIO-MAIN-------------*/


/*-------------MAIN-IMG-------------*/


/*-------------MAIN-ASIDE-------------*/
.aside-subtitle {
    color: var(--main-title-color);
}

/*-------------FOOTER-------------*/
.footer span {
    color: var(--local-color);
}
.footer {
    background: #2F303A;
}
.footer-address {
    color: var(--local-color);
}
.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
    color: var(--second-header-color);
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--second-header-color);
}

/*------------PORTFOLIO-MAIN-------------*/
/*------------PORTFOLIO-FILTER------------*/
.portfolio-btn {
  color: var(--main-title-color);background-color: #F5F4FA;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--local-color);
    background-color: var(--second-header-color);
}
/*-----------PORTFOLIO-CONTENT-----------*/
.content-list {
    background-color: var(--local-color);
}
.subtitle-link {
    color: var(--main-title-color);
}
.content-text {

}
/*--------------PORTFOLIO---------------*/

/*  */