:root{
    --header-color: #757575;
    --main-title-color: #212121;
    --second-header-color: #2196F3;
   

}
body {
    color: var(--header-color);
    background-color: #E5E5E5;
}
span {
    color: var(--main-title-color);
}
ul {
        list-style: none;
    };
.link {
    text-decoration: none;
}
h1 {
    color: #FFFFFF;;
}
h2,h3 {
    color: var(--main-title-color);
}
/*-------------HEADER-------------*/
header {
    background-color: #FFFFFF;
}
/*-------------HEADER-LOGO-------------*/
.header-logo {
        color: var(--second-header-color);
}
span {
    color: var(--main-title-color);
}
/*-------------HEADER-NAV-------------*/
.header-nav a {
    color: var(--main-title-color);
}
.header-nav a:hover,
.header-nav a:focus {
    color: var(--second-header-color);
}


/*------------HEADER-CONTACTS------------*/
.header-mail {
    color: var(--main-title-color);
}
.header-mail:hover,
.header-mail:focus {
    color: var(--second-header-color);
}
.header-tel {
    color: var(--header-color);
}
/*-------------MAIN-TITLE-------------*/
.title {
    background-color: #2F303A;
}

/*-------------logo-------------*/


